.vscode/settings.json
backend/.vscode/settings.json
.idea/
.vscode/launch.json
backend/dps_training_k/restart_backend.sh
backend/dps_training_k/game/migrations/0008_remove_logentry_message_logentry_content_and_more.py
_build/.filesystem-clock
_build/.lock
_build/log
backend/dps_training_k/game/templmon/log_rules/*.mfotl
backend/dps_training_k/game/templmon/signature_test.sig
